body{
background-image: url(./Background_Image.jpg);
background-repeat: no-repeat;
background-size: auto;
font-family:'Roboto';
/* background */
}.MainContainer{
  display: flex;
  justify-content: center;
}
.CounterValue{
  text-align: center;
  
}
 /* h2{
  display: flex;
  justify-content: center;
} */
h1{
color: rgb(72, 68, 68);
  font-size: 40px;
  padding:2px;
  border-bottom: 1px solid black;
}
.CounterName{
color: rgb(72, 68, 68);
font-weight: 900;
font-style: italic;
font-size: 50px;
}
.ButtonSection button{
  margin: 10px;
  border: none;
  border-radius: 30px;
  color: rgb(255, 255, 255);
  background-color: #dea828;
  font-size: 40px;
  width: 50px;
  height: 50px;
}

Button:hover{
  background-color:#b98712;
  font-size: 41px;

}
